@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(0, 0, 0);
    --primary-color: #65ff46;
}

body {    
    background-color: var(--bg-color) ;    
}


.title {
    color: var(--primary-color);

    margin: 10rem 0 3rem;
    font-size: 40px;
    text-align: center;
    user-select: none;    
}

.container { 
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}
.section1{
  display: flex;
  justify-content: center;  
}
.section2{
    display: flex;
    justify-content: center;   
}
    

.inputbox {
    height: 40px;

    margin: 1.5rem 2rem ;
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
}

.inputbox label {
    font-size: 20px;
    color: var(--primary-color);
    cursor: text;
    
}

.inputbox input {
    background-color: var(--primary-color);
    padding: 0 10px;
    
    height: 2px;
    
    font-size: 1.2rem;
    font-weight: bold;
    
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: .7s;
}

.inputbox input:focus,
.inputbox input:valid {
    height: 100%;
    padding: 1rem;
}



button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);

    padding: .5rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    width: 200px;
    height: 50px;

    font-weight: bold;
    justify-self: center;
    
    font-size: 1rem;
    border-radius: 2px;

    border:none;
    outline: none;
    cursor: pointer;
}


footer {
    padding: .3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--primary-color);

    position:absolute;
    bottom: .3rem;
    width:100%;
    text-align: center;
    justify-content: center;
}

.icon{  
    cursor: pointer;
    margin-left: 1.5rem;  
}

.icon img{
    height: 2rem;
}


/* MEDIA@ */
@media(max-width: 600px ){
    .title{
        margin-top: 2rem;
        font-size: 2rem;
    }
  
    .section1{
        display: inline;
    }
    .section2{
        display: inline;
    }

    .inputbox{
        width: 80%;
        margin-bottom: 2rem;
    }
    .inputbox label{
        font-size: 1rem;
    }
    .inputbox input {        
        font-size: 1rem;
    }
    button{
        width: 9rem;
        font-size: .7rem;
    }

    footer{
        font-size: .6rem;
        position: static;
        padding-bottom: 1rem;      
    }
    footer .icon{
        display: none;
    }
}